<!-- =========== Header  Section=============== -->

{% extends "base2.html" %} {% block content %}

<div style="color: rgb(10, 7, 8); text-align: center; padding-top: 1%">
  <h3>Enter the Websites</h3>
  <form id="forum">
    <textarea name="message" cols="33" rows="12" id="message"></textarea>
    <br />
    <button id="onsub" style="cursor: pointer;">Submit</button>
    <br><br>
    
  </form>

  <div>
    <a href="https://docs.google.com/spreadsheets/d/19cmbQQGImhBHzX_desi6umipdFe9eLXgpATJUXpcFGQ/edit"
    class="u-border-none u-btn u-btn-round u-button-style u-palette-2-base u-radius-7 u-btn-2" target="_blank">GO TO
    OUTPUT SHEET</a>
    <a style="display: none" id="dwnlod" href="#" target="_blank" >Go to Data</a>
  </div>

</div>

<!-- <div id="overlay">
	<div class="cv-spinner">
	  <span class="spinner"></span>
	</div>
  </div> -->

{% endblock %}

<!-- =========== Footer Section ============== -->
